# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.db

# Logs
logs/
*.log

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/

# Tableau Files
*.twb

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Secrets
.env
my_token.txt
